<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |form| %>
    <%= devise_error_messages! %>

    <div class="data">
        <%= label :firstname, "firstname", class: "data-label" %>
        <%= form.text_field :fname, id: "fname", class: "data-value", autofocus: true %>
    </div>
    <div class="data">
        <%= label :lastname, "lastname", class: "data-label" %>
        <%= form.text_field :lname, id: "lname", class: "data-value", autofocus: true %>
    </div>
    <div class="data">
        <%= label :email, "email", class: "data-label" %>
        <%= form.email_field :email, id: "email", class: "data-value", autofocus: true %>
    </div>
    <div class="data">
        <%= label :password, "password", class: "data-label" %>
        <%= form.password_field :password, id: "password", class: "pswd-value", autocomplete: "off" %>
        <% if @minimum_password_length %>
            (<%= @minimum_password_length.to_s %> characters min)
        <% else %>
            &nbsp;
        <% end %>
    </div>
    <div class="data">
      <%= form.label :password_confirmation, class: "data-label" %>
      <%= form.password_field :password_confirmation, class: "data-value", autocomplete: "off" %>
    </div>
    <div class="data">
        <div class="data-label">&nbsp;</div>
        <div class="data-value">
            <% if !current_user %>
                <%= form.submit "Sign up", class: "button_1" %>
            <% else %>
                <%= form.submit "Save", class: "button_1" %>
            <% end %>
        </div>
    </div>
<% end %>
