<h1>Home</h1>

<% if !current_user %>
    <div id="signin-signup">
        <%= form_tag("/signin", method: "get") do %>
            <p class="signin-group"><%= text_field_tag :username, value = "teb" %><%= label_tag(:username, "username") %></p>
            <p class="signin-group"><%= text_field_tag :password, value = "teb123" %><%= label_tag(:password, "password") %></p>
            <%= submit_tag "Login" %>
        <% end %>
    </div>

<% else %>
    <% puts " ** current_user: #{current_user.inspect}" %>
    <div id="task-form" style="display:none;"></div>

    <!-- ======= ======= users loop ======= ======= -->
    <% @users.each_with_index do |user, index| %>
        <% user_post = @posts_array[index] %>
        <% user_post_id = user_post[:id] %>
        <% tags_array = @post_tags_array[index] %>
        <!-- <% puts "\n\n ** user_post: #{user_post.inspect}" %> -->

        <!-- ======= ======= user ======= ======= -->
        <div class="user-box">
            <div class="tag-box">

            <!-- ======= ======= first post ======= ======= -->
            <% if user_post != "no_post" %>
                <!-- <% puts " ** tags_array[0].length: #{tags_array[0].length}" %>
                <% puts " ** tags_array[1].length: #{tags_array[1].length}" %> -->

                <!-- ======= ======= tags ======= ======= -->
                <% if tags_array[0].length > 0 %>
                    <p id="tag-group_<%= user_post.id %>" class="tag-group">
                        <% tags_array[0].each_with_index do |tag, index| %>
                            <% puts " ** tag: #{tag.inspect}" %>
                            <% tag_ids = "#{user_post.id}_#{tag.id}"  %>

                            <!-- ======= ======= editable tags (current_user) ======= ======= -->
                            <% if current_user %>
                                <% if index < tags_array[0].length - 1 %>
                                    <%= link_to tag.tag_name, "/toggle_tags/#{tag_ids}", {id: tag_ids, class: "tag", remote: true, :html => {:'data-type' => 'script/javascript'}} %>
                                <% else %>
                                    <%= link_to tag.tag_name, "/toggle_tags/#{tag_ids}", {id: tag_ids, class: "tag", remote: true, :html => {:'data-type' => 'script/javascript'}} %>
                                <% end %>

                            <!-- ======= ======= display tags only ======= ======= -->
                            <% else %>
                                <% if index < tags_array[0].length - 1 %>
                                    <%= tag.tag_name %> |
                                <% else %>
                                    <%= tag.tag_name %>
                                <% end %>
                            <% end %>

                        <% end %>
                <% else %>
                    <% puts " ** NO TAGS ** " %>
                    <p class="tag-group">no tags for this post
                <% end %>

                <!-- ======= ======= tag select/create ======= ======= -->
                <p id="input-group_<%= user_post.id %>" class="input-group">
                    <% tag_name_ids = [] %>
                    <% tags_array[1].each do |tag| %>
                        <% tag_name_ids << [tag.tag_name, tag.id] %>
                    <% end %>

                    <%= button_tag("add tag", { id: "add-tag-btn_#{user_post_id}", class: "tag-select add-tag-btn"  }) %>
                    <%= text_field_tag("add-tag-text_#{user_post_id}", value = "new", { class: "tag-select" }) %>
                    <%= select_tag("add-tag-sel_#{user_post_id}", options_for_select(tag_name_ids, 0), { class: "tag-select", :include_blank => true }) %>
                </p>
            </div>

            <% end %>

            <div class="title-box">
                <div class="name-link">
                    <%= link_to user.fname + " " + user.lname, user_posts_path(user) %>
                </div>
                <div class="post-title">
                    <% if user_post != "n" %>
                        <%= user_post.title %>
                    <% else %>
                        <p class="empty-text">no posts for this user</p>
                    <% end %>
                </div>
            </div>

            <!-- ======= ======= first post ======= ======= -->
            <div class="post-content">
                <% if user_post != "n" %>
                    <%= user_post.content %>
                <% end %>
            </div>

        </div>
    <% end %>
    <br>
    <%= link_to "Back", request.referer.present? ? request.referer : "/home" %>

<% end %>

<script type="text/javascript">

    // add-tag-btn, add-tag-text, add-tag-sel

    // ======= new or add tag =======
    $('.add-tag-btn').on('click', function(e) {
        console.log("== add-tag ==");
        e.preventDefault();
        e.stopPropagation();
        // == post_id from postTag[1]
        var postTag = e.currentTarget.id.split("_");
        // == user-created tag (text value)
        var newTag = $('#' + e.currentTarget.id).siblings('input').val();
        // == user-selected tag (from existing tag select box)
        var tagId = $('#' + e.currentTarget.id).siblings('select').val();
        console.log("post_id/new/existing: ", postTag[1], newTag, tagId);

        if (tagId == "") {
            tagId = "ng";
        }
        console.log("tagId: ", tagId);

        if ((tagId == "ng") && (newTag == "new")) {
            alert("add new tag or select existing tag");
        } else {
            // == postTag[1]: post_id, tag_id: existing tag (or ng/none selected), newTag: user-created tag
            $.ajax({
                url: "add_new_tag",
                data: { post_id: postTag[1], tag_id: tagId, new_tag: newTag },
                method: "GET",
                dataType: "json"
            }).success(function(jsonData){
                console.log("*** ajax success ***");
                console.dir(jsonData);
                updateTags(jsonData);
            }).error(function(){
                console.log("*** ajax error ***");
                // handleAjaxError(jsonData);
            });
        }

    });

    // ======= toggle current tag =======
    // $('.tag').on('click', function(e) {
    //     console.log("== toggleTag ==");
    //     var postTag = e.currentTarget.id.split("_");
    //     e.preventDefault();
    //     e.stopPropagation();
    //     console.log("postTag[0]:", postTag[0]);
    //     console.log("postTag[1]:", postTag[1]);
    //
    //     $.ajax({
    //         url: "toggle_tag",
    //         data: { post_id: postTag[0], tag_id: postTag[1] },
    //         method: "GET",
    //         dataType: "json"
    //     }).success(function(jsonData){
    //         console.log("*** ajax success ***");
    //         updateTags(jsonData);
    //     }).error(function(){
    //         console.log("*** ajax error ***");
    //     });
    // });

    function updateTags(jsonData) {
        console.log("== updateTags ==");
        var post_id = jsonData.post_id;
        $('#tag-group_' + post_id).html("");
        var tagText = "";

        $.each(jsonData.tags, function(index, tag) {
            console.log("tag: ", tag);
            if (index < jsonData.tags.length - 1) {
                tagText += "<a id=" + tag.id + " class='tag' href='#'>" + tag.tag_name + "</a> | ";
            } else {
                tagText += "<a id=" + tag.id + " class='tag' href='#'>" + tag.tag_name + "</a>";
            }
        })
        console.log("tagText: ", tagText);
        $('#tag-group_' + post_id).html(tagText);
    }

</script>
