<h1>Users</h1>

<% @users.each_with_index do |user, index| %>
    <% user_post = @postsArray[index].first %>
    <% puts " ** user_post.inspect: #{user_post.inspect}" %>
    <div class="user-box">
        <div class="name-box">
            <p class="name-link">
                <%= link_to user.fname + " " + user.lname, user %>
                <%= link_to "Edit", edit_user_path(user), class: "mini-link" %>
                <%= link_to 'Delete', user, class: "mini-link", method: :delete, data: { confirm: 'Are you sure?' } %>
            </p>
        </div>
        <div class="title-box">
            <p class="post-title">
                <% if user_post != "n" %>
                    <%= user_post.title %>
                <% else %>
                    no posts for this user
                <% end %>
            </p>
        </div>
        <div class="post-content">
            <% if user_post != "n" %>
                <%= user_post.content %>
            <% else %>
                no posts for this user
            <% end %>
        </div>
    </div>
<% end %>

<br>

<%= link_to 'New User', new_user_path %>
