<div class="content-margin">
    <p>stockData: <%= @stock_data[0]['symbol'] %></p>

    <table id="stoxx-table">
        <thead>
            <tr>
                <th id="day">tradingDay</th>
                <th id="open">open</th>
                <th>close</th>
            </tr>
        </thead>
        <tbody>
            <% puts " ** @stock_data.length: #{@stock_data.length.inspect}" %>
            <% @stock_data.each do |data| %>
                <% puts " ** data: #{data.inspect}" %>
                <tr>
                    <td><%= data['tradingDay'] %></td>
                    <td><%= data['open'] %></td>
                    <td><%= data['close'] %></td>
                </tr>
            <% end %>
        </tbody>
    </table>

    <input id="username" type="hidden" name="username" value="<%= current_user.username %>">
</div>
