<!-- ======= photos/_form.html.erb ======= -->
<!-- image, user_id, title, caption, content_type, date_taken -->
<%= form_for([current_user, @photo], html: {
        class: "upload",
        data: {
            'form-data' => (@s3_direct_post.fields),
            'url' => @s3_direct_post.url,
            'host' => URI.parse(@s3_direct_post.url).host
        }
    }) do |f| %>

    <div id="user-data">

        <!-- ======= which photo ======= -->
        <% if @new_flag %>
            <div class="data">
                <div class="data-label"><%= f.label :image %></div>
                <div class="data-value"><%= f.file_field :image, autofocus: true, class:'file-field', id:'photo-file' %></div>
            </div>
        <% else %>
            <div class="photo-box">
                <h2><%= photo.title %></h2>
                <%= link_to image_tag(photo.image.url, {class: "full"}), user_photo_path(current_user, photo) %>
                <%= image_tag(photo.image.url(:thumb), :class => "thumb") %>
            </div>
        <% end %>

        <!-- ======= photo properties ======= -->
        <div class="data">
            <div class="data-label"><%= label(:title, "Title") %></div>
            <div class="data-value"><%= f.text_field :title, autofocus: true %></div>
        </div>
        <div class="data">
            <div class="data-label"><%= label(:caption, "Caption") %></div>
            <div class="data-value"><%= f.text_field :caption, autofocus: true %></div>
        </div>
        <div class="data">
            <div class="data-label"><%= f.label(:content_type, "Image Type") %></div>
            <div class="data-value">
                <%= select_tag(:content_type, options_for_select(
                    [['image/jpeg', 1], ['image/png', 2], ['image/gif', 3]], 1)
                ) %></div>
        </div>
        <div class="data">
            <div class="data-label"><%= label(:date_taken, "Date Taken") %></div>
            <div class="data-value"><%= f.text_field :date_taken, autofocus: true  %></div>
        </div>

        <!-- ======= submit ======= -->
        <div class="data">
            <div class="data-label">&nbsp;</div>
            <div class="data-value">
                <%= f.submit value="Save Photo" %>
                <!-- <button id="photo-button" type="button" name="button">Save Photo</button> -->
            </div>
        </div>

    </div>

<% end %>



<br>
