<%= form_for([@post.user, @post]) do |f| %>
    <div class="user-box">
        <div class="title-box">
            <div class="id-box">
                <%= @post.user_id %>
            </div>
            <div class="post-title">
                <%= f.text_field :title %>
            </div>
            <div class="user-links">
                <%= link_to 'Delete', [@post.user, @post], class: "mini-link", :confirm => 'Are you sure?', :method => :delete %>
            </div>
        </div>
        <div class="post-content">
            <%= f.text_area :content, size: "80x10"  %>
        </div>
        <div class="post-content">
            <%= f.submit %>
        </div>
    </div>

    <% if @post.errors.any? %>
        <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
        <ul>
            <% @post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>
<% end %>
