<h1><%= @user.fname + " " + @user.lname + " Posts"%></h1>

<% @posts.each do |post| %>
    <div class="user-box">
        <div class="title-box">
            <div class="id-box">
                <%= post.user_id %>
            </div>
            <div class="post-title">
                <%= link_to post.title, user_post_path(post.user, post) %>
            </div>
            <div class="post-user-links">
                <%= link_to "Comment", "/new_comment/#{post.id }", class: "mini-link"%>
                <% if post[:user_id] == session[:user_id] %>
                    <%= link_to 'Edit', edit_user_post_path(post.user, post), class: "mini-link" %>
                    <%= link_to 'Delete', [post.user, post], class: "mini-link", :confirm => 'Are you sure?', :method => :delete %>
                <% end %>
            </div>
        </div>
        <div class="post-content">
            <%= post.content %>
        </div>
    </div>
<% end %>

<br />

<%= link_to "Back", request.referer.present? ? request.referer : "/home" %> |
<%= link_to 'New Post', new_user_post_path(params[:user_id]) %>
