<!DOCTYPE html>
<html>
    <head>
        <title>|| FinalBlog3 ||</title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <!-- ======= ======= ======= body ======= ======= ======= -->
    <body>

        <!-- == header == -->
        <div id="header">
            <h1>Rails Final Blog 3!</h1>
            <%= favicon_link_tag 'favicon.ico' %>
            <%= render :partial => '/users/menu' %>
        </div>

        <!-- == yield == -->
        <div id="yield" class="section">
            <%= yield %>
        </div>

        <!-- == content == -->
        <div id="content" class="section">
            <%= link_to 'Toggle State', "/toggle_tags/1_3", remote: true %>
            <div id="targetEl" data-state="prev">
                <p>data-state initialized to: prev</p>
            </div>
        </div>

        <!-- == footer == -->
        <div id="footer" class="section">
            <% if notice %>
                <p id="notice"><%= notice %></p>
            <% end %>
            <% if alert %>
                <p class="alert alert-danger"><%= alert %></p>
            <% end %>
        </div>
    </body>
</html>
